*{
	box-shadow: border-box;
}
html{
	background-color: #fff;
	max-width:100%;
}
body{
	min-width: 320px;
	max-width: 960px;
	background-color: #4167E3;
	margin:0 auto;
	padding:0;
}
	body>header{
		background-color: #FF7F17;
		text-align: center;
		overflow: hidden;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
		body>header>img{
			align-self:center;
		}

			body>main>section>article{
				overflow:hidden;
				text-align:justify;
				padding:.5em;
				margin:0 auto;
			}
				body>main>section>article>h2{
					text-align:center;
				}
	body>footer{
		background-color:#FF7F17;
		padding: 1em 0;
		margin-top: 1em;
	}

@media all and (min-width:480px){
		body>header{
			flex-direction: row;
			justify-content: space-between;
		}
		body>header>div{
			flex-grow: 2;
		}
		main>section{
			display:flex;
			flex-wrap: wrap;
		}
			body>main>section>article{
				width:46%;
				display:flex;
				flex-direction: column;
				border:1px solid #234;
				margin-top: .1em;
			}
}

@media all and (min-width:740px){
			body>main>section>article{
				width:30%;
			}
}