@import url('https://fonts.googleapis.com/css?family=Lato');
*{
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
html{
	background-color: #fff;
}
body{
	min-width: 320px;
	max-width: 960px;
	background-color: #4167E3;
	margin:0 auto;
	padding:0;
}
	body>header{
		background-color: #FF7F17;
		text-align: center;
		overflow: hidden;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
		body>header>img{
			align-self:center;
		}
		body>nav{
			max-height: 1.5em;
			overflow:hidden;
			border-top: .1em solid #234;
			border-bottom: .1em solid #234;
			transition: max-height 1s;
		}
			body>nav>ul{
				list-style:none;
				margin:0;
				padding:0;
			}
				body>nav>ul>li{
					text-align: center;
					margin:.1em 0;
				}
				body>nav>ul>li>a{
					display:block;
				}
				body>nav>ul>li>a:hover{
					background-color:#6FD2F2;
					border-top:1px solid #234;
					border-bottom: 1px solid #234;
				}
				body>nav>ul>li:last-of-type{
					margin-bottom:.3em;
				}
				body>nav>ul>li:nth-of-type(1)>label>span{
					display:inline-block;
					transform:rotate(90deg);
					transition: transform .5s;
				}
					body>nav>ul>li>label{
						display:block;
						cursor:pointer;
					}
		#ckb-menu{
			display:none;
		}
		#ckb-menu:checked+nav{
			max-height: 10em;
		}
		#ckb-menu:checked+nav>ul>li:nth-of-type(1)>label>span{
			transform:rotate(180deg);
		}
		body>main{
			margin-top:.2em;
		}
			body>main>section:nth-of-type(1)>article{
				overflow:hidden;
				text-align:justify;
				padding:.5em;
				margin:0 auto;
			}
				body>main>section:nth-of-type(1)>article>h2{
					text-align:center;
				}
			body>main>section:nth-of-type(2)>article{
				display:block;
				width:90%;
				padding: 0 1em;
			}
	body>footer{
		background-color:#FF7F17;
		padding: 1em 0;
		margin-top: 1em;
	}

@media all and (min-width:480px){


		body>header{
			flex-direction: row;
			justify-content: space-between;
		}
		body>header>div{
			flex-grow: 2;
		}
		main>section{
			display:flex;
			flex-wrap: wrap;
		}
			body>main>section:nth-of-type(1)>article{
				width:46%;
				display:flex;
				flex-direction: column;
				border:1px solid #234;
				margin-top: .1em;
			}
			body>nav>ul{
				overflow:hidden;
				text-align:center;
				font-size:.8em;
			}
			body>nav>ul>li:first-of-type{
				display:none;
			}
			body>nav>ul>li{
				display:inline-block;
				padding:0;
				border-right: .1em solid #234;
				margin:0;
			}
			body>nav>ul>li:last-of-type{
				border-right: 0;
			}
			body>nav>ul>li>a:hover{
				border:0;
			}
			body>nav>ul>li>a{
				padding:.1em;
				text-decoration:none;
			}

			body>main>form{
		text-align: center;
	}
}

@media all and (min-width:740px){
			body>main>section:nth-of-type(1)>article{
				width:30%;
			}
			body>nav>ul{
				font-size:1em;
			}
}